/* --- Responsividade para Celulares --- */
@media (max-width: 768px) {
    .hero {
        flex-direction: column; /* Coloca o texto em cima da imagem */
        text-align: center;
    }
    
    .hero-text h1 {
        font-size: 36px;
    }
    
    .simula-ja {
        font-size: 28px;
    }
    
    .how-it-works h2 {
        font-size: 28px;
    }
}