// 1. A regra @use deve ser a primeira e única instrução deste tipo.
@use '@angular/material' as mat;

// 2. Inclua o theming para o Angular Material.
// Este mixin define as variáveis CSS para estilizar os componentes.
// Saiba mais em: https://material.angular.dev/guide/theming
html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
     ),
    // Nota: A propriedade 'typography' espera um mapa de configuração, não uma string.
    // Se você não tem uma tipografia customizada, pode remover esta linha
    // ou criar uma configuração de tipografia.
    // typography: mat.define-typography-config(), // Exemplo de como seria
    density: 0,
  ));
}

body {
  // Defina o esquema de cores padrão (light, dark, ou 'light dark').
  color-scheme: light;

  // Defina um fundo, fonte e cores de texto padrão para a aplicação
  // usando as variáveis de sistema do Angular Material.
  // Saiba mais em: https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface );
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Resete a margem padrão do navegador.
  margin: 0;
}
