header {
  position: absolute;
  background: rgb(12, 149, 228);
  left: 945px;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 1fr 600px;
  gap: 10px;
  width: 100%;
  max-width: 100%;
  z-index: 3;
  box-shadow: 0 4px 3px rgba(245, 245, 245, 0.288);
  padding: 10px;
}

header li {
  cursor: pointer;
  color: #dee0e2;
}
header img {
  width: 180px;
  margin-top: 8px;
  margin-left: 20px;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  margin-top: 20px;
}
header a {
  text-decoration: none;
  color:white;
 
}

header a:hover{
  color: rgb(68, 59, 48);
}
