header {
  position: absolute;
  background: rgb(12, 149, 228);
  left: 945px;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 1fr 600px;
  gap: 10px;
  width: 100%;
  max-width: 100%;
  z-index: 3;
  box-shadow: 0 4px 3px rgba(245, 245, 245, 0.288);
  padding: 10px;
}

header li {
  cursor: pointer;
  color: #dee0e2;
}
header img {
  width: 180px;
  margin-top: 8px;
  margin-left: 20px;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  margin-top: 20px;
}
header a {
  text-decoration: none;
  color:white;
 
}

header a:hover{
  color: rgb(68, 59, 48);
}



nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


nav > ul {
  display: flex;
  gap: 40px;
}


nav ul li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 8px 12px;
  display: block;
}


 .dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-menu {
  position: absolute;
  top: 100%; 
  left: 0;
  display: flex;
  flex-direction: column; 
  background-color: #007acc;
  border-radius: 6px;
  padding: 8px 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}


.dropdown-menu li {
  list-style: none;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 16px;
  color: white;
  text-decoration: none;
  transition: background 0.3s;
}


.dropdown-menu li a:hover {
  background-color: #005fa3;
  border-radius: 4px;
}

