* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  background: black;
  color: aliceblue;
  font-size: 16px;

}

main {
  padding: 2rem;
   background: radial-gradient(#0093ff, #00a8f3);

}

header {
  position: absolute;
  background: rgb(12, 149, 228);
  left: 945px;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 1fr 600px;
  gap: 10px;
  width: 100%;
  max-width: 100%;
  z-index: 3;
  box-shadow: 0 4px 3px rgba(245, 245, 245, 0.288);
  padding: 10px;
  
 
}

header li { cursor: pointer; color: white;  }
header img { width: 180px; margin-top: 8px; margin-left: 20px; }
header nav ul { display: flex; justify-content: space-between; margin-right: 50px; margin-top: 20px; }



.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* sempre 3 por linha */
  gap: 2rem;
  padding: 2rem;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 150px;
}

.card {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  backdrop-filter: blur(10px);
  transform: translateY(20px);
  opacity: 0;
  animation: fadeInUp 0.8s forwards;
  transition: transform 0.6s ease, box-shadow 0.6s ease;
}

.card:hover {
   transform: scale(1.5);
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.5);

}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card h2 {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem;
}

.card .preco {
  font-size: 1.1rem;
  color: #ffeb3b;
  margin-bottom: 1rem;
}

.card button {
  margin-bottom: 1.5rem;
  padding: 0.7rem 1.5rem;
  border: none;
  background: #ffeb3b;
  color: #000;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.card button:hover {
  background: #d8bd42;
  transform: scale(1.05);
}

/* animação para entrada mais profissional */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

 .carrinho {
    display: block;
    text-align: center;
    margin: auto;
    max-width: 100%;
    margin-top: 80px;
 }

  .carrinho2{
     display: block;
    text-align: center;
    margin: auto;
    max-width: 80%;
    margin-top: 50px;

  }
  
  .carrinho3{
     display: block;
    text-align: center;
    margin: auto;
    margin-top: 80px;

  }

  .carrinho4 {
    margin-top: 30px;
 }

 .carrinho5 {
    display: block;
    text-align: center;
    margin: auto;
    max-width: 100%;
    margin-top: 85px;
 }
 .carrinho6{
  max-width: 90%;
 }
 .carrinhoka{
  margin-top: 10px;
 }


 .sedan{
  margin-top: 35px;
 }

 .eco{
  margin-top: 15px;

}

 h1{
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 200px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

